<template>
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Expenses</h3>
      </div>
      <div class="panel-body">
        <expenses-form ref="formExpense"></expenses-form>
        <div class="form-group">
          <button class="btn btn-primary btn-sm btn-flat" @click.prevent="submit">
            <i class="fa fa-save"></i> Update
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import FormExpenses from "./Form.vue";
export default {
  name: "EditExpenses",
  methods: {
    submit() {
      this.$refs.formExpense.submit();
    }
  },
  components: {
    "expenses-form": FormExpenses
  }
};
</script>
